
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');


.header{
    border: 1px solid black;
    display: flex;
    width: 100;
    height: 50px;
}
.main{
    border: 1px solid black;
    display: flex;
    margin-top: 20px;
    width: 100;
    height: 1000px;
    flex-direction: column;
}
.footer{
    border: 1px solid black;
    display: flex;
    margin-top: 20px;
    width: 100;
    height: 100px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    display: flex;
    gap: 50px;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}
.content{
    display: flex;
    border: 1px solid black;
    width: 70%;
    height: 200px;;
    padding: 50px;
    margin-top: 20px;
    margin-left: 170px;
}
.content2{
    display: flex;
    border: 1px solid black;
    width: 70%;
    height: 700px;;
    padding: 50px;
    margin-top: 20px;
    margin-left: 170px;
}